.game {
  width: 600px;
  height: 200px;
  border-bottom: 2px solid black;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  font-family: Arial;
}

#score {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
}

#oleg {
  width: 50px;
  height: 50px;
  background-image: url(Oleg.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
}

#bigmac {
  width: 40px;
  height: 40px;
  background-image: url(bigmac.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 600px;
}

.jump {
  animation: jump 0.6s linear;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 90px; }
  100% { bottom: 0; }
}